:root {
   --h-navbar: 50px;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
img {
   width: 100%;
   display: block;
}
.container {
   max-width: 1024px;
   margin: 0 auto;
}
a {
   text-decoration: none;
   color: inherit;
}
li {
   display: list-item;
   text-align: -webkit-match-parent;
}
ul {
   list-style: none;
}
.icon__cart {
   font-size: 2rem;
   cursor: pointer;
   position: relative;
}
.icon__cart span {
   background-color: red;
   display: inline-block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   font-size: 0.8rem;
   display: grid;
   place-items: center;
   position: absolute;
   top: 1rem;
   right: -0.5rem;
}
.content__navbar {
   background-color: lightcoral;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   color: #fff;
}
.navbar {
   display: flex;
   align-items: center;
   padding: 0 1rem;
   height: var(--h-navbar);
   max-width: 1024px;
   justify-content: space-between;
   margin: 0 auto;
   gap: 2rem;
}
.navbar__logo {
   display: flex;
   align-items: center;
}
.nav__logo-icon {
   width: 40px;
   fill: red;
}

.navbar__menu {
   display: flex;
   align-items: center;
   position: static;
   height: auto;
   flex-direction: row;
   gap: 1rem;
   width: 100%;
   justify-content: flex-start;
}
.navbar__icons {
   font-size: 1.3rem;
   cursor: pointer;
   user-select: none;
   display: flex;
   gap: 0.5rem;
}
.container {
   max-width: 1024px;
   margin: 0 auto;
   padding: 1rem;
   padding-top: 3rem;
}
.home {
   display: flex;
   flex-direction: row-reverse;
   min-height: 80vh;
   gap: 1rem;
}
.home__header {
   display: grid;
   grid-template-columns: 1fr;
}

.home__header__img {
   background-color: lightcoral;
   display: flex;
   align-items: center;
   min-height: 400px;
   min-width: 400px;
}
.home__header div:nth-child(1) {
   display: none;
}
.home__body {
   display: flex;
   flex-direction: column;
   padding: 0 2rem;
   gap: 1rem;
   font-size: 2rem;
}
.home__body__price {
   color: red;
   font-size: 1.5rem;
}
.home__body__btn {
   background-color: #000;
   color: #fff;

   letter-spacing: 1px;
   padding: 15px 30px;
   place-self: baseline;
}
.content__products {
   padding: 5rem 1rem;
   display: grid;
   gap: 3rem;
}
.content__filter {
   margin: auto;
   max-width: 700px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 1rem;
   user-select: none;
}
.filter {
   text-align: center;
   cursor: pointer;
   padding: 0.5rem;
   transition: background-color 0.5s;
}
.filter__active {
   background-color: #000;
   color: #fff;
}
.products {
   display: grid;
   gap: 1rem;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.product {
   display: grid;
   padding: 1rem;
   border-radius: 10px;
   border: 1px solid lightcoral;
}
.product__btn {
   margin: 1rem auto;
   background-color: lightgreen;
   color: #000;
   border-radius: 10px;
   border: none;
   cursor: pointer;
   padding: 0.5rem 2rem;
}
.product__soldout {
   margin: 1rem auto;
   background-color: rgb(253, 33, 33);
   color: #fff;
   border-radius: 10px;
   border: none;
   padding: 5px;
}
.cart {
   background-color: rgb(194, 102, 102);
   position: fixed;
   top: var(--h-navbar);
   right: 0;
   width: 50%;
   height: calc(100% - var(--h-navbar));
   padding: 1rem;
   transform: translateX(100%);
   transition: transform 0.5s;
   color: #fff;
}
.cart__show {
   transform: translateX(0%);
}
.cart__products {
   height: 80%;
   overflow-y: scroll;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.cart__product {
   padding: 1rem;
   display: grid;
   grid-template-columns: 1fr 2fr;
   background-color: lightsalmon;
   border-radius: 1rem;
}
.cart__product__opt {
   display: flex;
   gap: 0.2rem;
}
.cart__product__opt i {
   cursor: pointer;
}
.cart__total {
   height: 20%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}
.cart__total__info {
   width: 100%;
   display: flex;
   justify-content: space-around;
}
.btn__buy {
   padding: 1rem 30%;
   border: none;
   background-color: #000;
   color: #fff;
   cursor: pointer;
   transition: background-color 0.5s, color 0.5s;
}
.btn__buy:hover {
   background-color: lightgreen;
   color: #000;
}
footer {
   background-color: hsl(0, 0%, 90%);
   display: block;
   padding: 2rem 2rem;
}
.content__footer {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   gap: 1.5rem;
}
.footer__info {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}
.footer__link-social {
   display: flex;
   flex-direction: row;
}
footer p {
   margin-top: 3rem;
   background-color: lightcoral;
   color: #fff;
   text-align: center;
   padding: 1rem;
}
@media (max-width: 700px) {
   .navbar__menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      justify-content: center;
   }
   .navbar__menu li {
      font-size: 1.5rem;
   }
   .home {
      flex-direction: column;
   }
   .home__header {
      grid-template-columns: 1fr 1fr;
   }
   .home__header div {
      display: block;
   }

   .home__body__title {
      font-size: 2rem;
   }
   .content__filter {
      grid-template-columns: 1fr 1fr;
   }
   .content_footer {
      flex-direction: column;
   }
   .cart {
      width: 100%;
   }
}
